# -------------------------------
# EditorConfig by Joho
# -------------------------------
# Version   v0.1.0
# Created   23-Nov-2015
# Updated   24-Nov-2015
# Docs      http://editorconfig.org
# -------------------------------


root = true


[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.md]
trim_trailing_whitespace = false
